<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta author="Lucas Maybury, Jake Rawsthrone, Collin Coutinho, Palash Surana, Seth Faulkner, Sofia Bodurova, Vasilka Zheleva">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <link rel="stylesheet" href="/assets/style.css">
        <link rel="stylesheet" href="/assets/bootstrap-datetimepicker.min.css">
        <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon.ico">
        <title><%= @title %> - Pie Piper</title>
    </head>
    <body>
      <% # show the nav bar specific to the user account type %>
        <% account_type = get_account_type_from_session %>
        <% 
          case account_type
          when 1 %>
            <%= erb :'./nav/user' %>
          <% when 2 %>
            <%= erb :'./nav/order' %>
          <% when 3 %>
            <%= erb :'./nav/admin' %>
          <% else %>
            <%= erb :'./nav/nav' %>
      <% end %>
      <% # create a valid css class for each page to target individual pages with custom styles %>
      <main class="container <%= @title.delete(' ') %>">