<%= erb :header %>
  <h3 class="mb-3">Food menu</h3>
    <nav>
      <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <% 
          get_item_type_ids.each_with_index do |type_id,i|
          type = get_item_type(type_id)
        %>
        <a class="nav-item nav-link <%if(i==0)%>active<%end%>" id="menu-<%=type.name%>-tab" data-toggle="tab" href="#menu-<%=type.name%>" role="tab"><%= type.name %></a>
        <% end %>
      </div>
    </nav>
      <div class="tab-content mt-3" id="nav-tabContent">
        <% 
          get_item_type_ids.each_with_index do |type_id,i|
          type = get_item_type(type_id)
        %>
        <div class="tab-pane fade show <%if(i==0)%>active<%end%>" id="menu-<%=type.name%>" role="tabpanel">
          <div class="row menu">
            <% 
              get_item_ids.each do |item_id|
              item = get_item(item_id)
              if(item.type.name == type.name)
            %>
            <div class="col-lg-4 col-md-6">
              <div class="card mb-3">
                <img src="/img/food-collection-8-006.jpg">
                <div class="card-body">
                  <h5 class="card-title mb-0">£<%= '%.2f' % item.price%> <%=item.name%></h5>
                  <% if(!item.special.name.nil?) %><span class="badge badge-success"><%=item.special.name%></span><%end%>
                  <p class="card-text"></p>
                  <p class="card-text"><small class="text-muted"></small></p>
                </div>
              </div>
            </div>
          
            <% 
              end
              end 
            %>
            </div>
            </div>
        <% end %>
    </div>
<%= erb :footer %>
