<%= erb :header %>
<% users = get_users %>
<p>Users</p>
<% if(users.empty?) %>
<p>Sorry, no users exist</p>
<% else %>
    <div class="table-responsive mb-3">
      <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Full Name</th>
          <th scope="col">Username</th>
          <th scope="col">Twitter Profile</th>
          <th scope="col">Dietry Requirements</th>
          <th scope="col">Address</th>
          <th scope="col">Account Type</th>
        </tr>
      </thead>
      <tbody>
        <% users.each do |user| %>
        <tr>
          <th scope="row"><a href="/user/<%= user.id %>"><%= user.id %></a></th>
          <td><%= user.fullname %></td>
          <td><%= user.username %></td>
          <td><a target="_blank" href="<%= $client.user(user.twitter_id.to_i).uri %>"><%= $client.user(user.twitter_id.to_i).screen_name %></a></td>
          <td><% if(user.dietry_requirements.name.nil?) then %>N/A<% else %><%= user.dietry_requirements.name %><% end %></td>
          <td><%= user.address %></td>
          <td><%= user.account_type.name %></td>
        </tr>
        <% end %>
      </tbody>
      </table>
    </div>
<% end %>
<%= erb :footer %>