<%= erb :header %>
<div class="row">
  <div class="mb-3 col-lg-5 col-md-12">
  <p>Account Settings</p>
    <form method="post" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false">
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="firstname">First Name</label>
          <input name="lastname" type="text" class="form-control" id="firstname" value="<%=@user.firstname%>" placeholder="<%=@user.firstname%>">
        </div>
        <div class="form-group col-md-6">
          <label for="lastname">Last Name</label>
          <input name="firstname" type="text" class="form-control" id="lastname" value="<%=@user.lastname%>"placeholder="<%=@user.lastname%>">
        </div>
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input name="email" type="email" class="form-control" id="email" placeholder="Email">
      </div>
      <div class="form-group">
        <label for="address">Address</label>
        <input type="text" class="form-control" id="address" value="<%=@user.address%>" placeholder="<%=@user.address%>">
      </div>
      <div class="form-group">
        <label for="twitterhandle">Twitter Handle</label>
        <input disabled type="text" class="form-control" id="twitterhandle" value="<%=@twitter_user.screen_name%>" placeholder="<%=@twitter_user.screen_name%>">
      </div>
      <div class="form-group">
        <label for="dietaryrequirements">Dietary Requirements</label>
        <select class="form-control" id="dietaryrequirements">
          <option>None</option>
          <% @special_conditions.each do |special_condition| %>
            <option <%= "selected" if(special_condition.id == @user.special_condition_id)%>><%=special_condition.name%></option>
          <% end %>
        </select>
      </div>
      <button type="submit" class="btn btn-primary">Save</button>
      <button type="reset" class="btn btn-danger">Reset</button>
    </form>
  </div>
</div>
<%= erb :footer %>