<% twitter_user = $client.user(flash[:twitter_id].to_i) if flash[:twitter_id] %>
<% if (twitter_user) %>
<% flash[:twitter_id] = flash[:twitter_id] %>
<%= erb :header %>
<div class="row">
  <div class="mb-3 col-lg-5 col-md-12">
  <p>Signup</p>
    <form method="post" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false">
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="username">Username</label>
        <input name="username" type="text" class="form-control" id="username" placeholder="Username">
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="password">Create Password:</label>
        <input name="password" type="text" class="form-control" id="password" placeholder="Password">
      </div>
      <div class="form-group col-md-6">
        <label for="passwordconf">Confirm Password:</label>
        <input name="passwordconf" type="text" class="form-control" id="passwordconf" placeholder="Confirm Passoword">
      </div>
    </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="forename">First Name</label>
          <input name="forename" type="text" class="form-control" id="forename" placeholder="First Name">
        </div>
        <div class="form-group col-md-6">
          <label for="surname">Last Name</label>
          <input name="surname" type="text" class="form-control" id="surname" placeholder="Last Name">
        </div>
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input name="email" type="email" class="form-control" id="email" placeholder="Email">
      </div>
      <div class="form-group">
        <label for="address_line_1">Address Line 1</label>
        <input name="address_line_1" type="text" class="form-control" id="address_line_1" placeholder="Address Line 1">
      </div>
      <div class="form-group">
          <label for="address_line_2">Address Line 2</label>
          <input name="address_line_2" type="text" class="form-control" id="address_line_2" placeholder="Address Line 2">
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
        <label for="postcode">Post Code</label>
        <input name="postcode" type="text" class="form-control" id="postcode" placeholder="Postcode">
        </div>
      </div>
      <div class="form-group">
        <label for="city_region">City Region</label>
        <input name="city_region" type="text" class="form-control" id="city_region" placeholder="City Region">
      </div>

      <div class="form-group">
        <label for="twitter_handle">Twitter Handle</label>
        <input name="twitter_handle" type="text" readonly class="form-control" id="twitter_handle" value="<%=twitter_user.screen_name%>" placeholder="<%=twitter_user.screen_name%>">
      </div>

      <div class="form-group">
        <% (SpecialCondition.all).each do |special_condition| %>
        <% if(special_condition.id != 1)%>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" name="diet[]" value="<%=special_condition.id%>" id="<%=special_condition.name%>">
            <label class="form-check-label" for="<%=special_condition.name%>"><%=special_condition.name%></label>
          </div>
        <% end end %>
      </div>

        <button type="submit" class="btn btn-primary">Signup</button>
        <button type="reset" class="btn btn-danger">Reset</button>
      </div>
    </form>
  </div>
</div>
<%= erb :footer %>
<% else %>
  <% redirect('/auth/twitter') %>
<% end %>
