<%= erb :header %>
<div class="row">
  <div class="mb-3 col-lg-5 col-md-12">
  <p>Signup</p>
    <form method="post" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false">
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="username">Username</label>
        <input name="username" type="text" class="form-control" id="username" placeholder="Username">
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="password">Create Password:</label>
        <input name="password" type="text" class="form-control" id="password" placeholder="Password">
      </div>
      <div class="form-group col-md-6">
        <label for="passwordconf">Confirm Password:</label>
        <input name="passwordconf" type="text" class="form-control" id="passwordconf" placeholder="Confirm Password">
      </div>
    </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="forename">First Name</label>
          <input name="forename" type="text" class="form-control" id="forename" placeholder="First Name">
        </div>
        <div class="form-group col-md-6">
          <label for="surname">Last Name</label>
          <input name="surname" type="text" class="form-control" id="surname" placeholder="Last Name">
        </div>
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input name="email" type="email" class="form-control" id="email" placeholder="Email">
      </div>

      <div class="form-group">
        <label for="address">Address</label>
        <input type="text" class="form-control" data-toggle="modal" data-target="#map_modal" id="address" value="" placeholder="Address">
      </div>

      <div class="form-group">
        <label for="twitter_handle">Twitter Handle</label>
        <input name="twitter_handle" type="text" readonly class="form-control" id="twitter_handle" value="<%=@twitter_user.screen_name%>" placeholder="<%=@twitter_user.screen_name%>">
      </div>

      <div class="form-group">
        <% # iterate through the dietary requirements and show the name of the requirement %>
        <% (@special_conditions).each do |special_condition| %>
        <% if(special_condition.id != 1)%>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" name="diet[]" value="<%=special_condition.id%>" id="<%=special_condition.name%>">
            <label class="form-check-label" for="<%=special_condition.name%>"><%=special_condition.name%></label>
          </div>
        <% end end %>
      </div>
      <div class="modal-opener-btn">
      <div class="modal fade" id="map_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
       <div class="modal-dialog modal-dialog-centered" role="document">
         <div class="modal-content">
           <div class="modal-header">
             <h5 class="modal-title" id="mapModalLable">Address</h5>
             <button type="button" class="close" data-dismiss="modal" aria-label="Close">
               <span aria-hidden="true">&times;</span>
             </button>
           </div>
           <div class="modal-body">
             <div class="form-group">

               <div class="form-group">
                 <label for="address">Address</label>
                 <input type="text" class="form-control" onfocus="geolocate()" aria-expanded="false" aria-controls="addresstoggle" id="autocomplete" value="" placeholder="">
               </div>

               <div class="form-group">
                 <label for="house">House Number/Name</label>
                 <input name="house" type="text" class="form-control" id="street_number" placeholder="House Name/Number">
               </div>
               <div class="form-group">
                 <label for="street_address">Street Name</label>
                 <input name="street" type="text" class="form-control" id="route" placeholder="Street Name">
               </div>
               <div class="form-row">
                 <div class="form-group col-md-6">
                 <label for="postal_code">Post Code</label>
                 <input name="postcode" type="text" class="form-control" id="postal_code" placeholder="Postcode">
                 </div>
               </div>

             </div>
             <div id="map"></div>
             <p id= "address_checker"> Sorry, we do not deliver to this address. </p>
           </div>
           <div class="modal-footer">
             <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
             <button type="button" class="btn btn-primary" id="save" disabled data-dismiss="modal" >Save changes</button>
           </div>
         </div>
       </div>
     </div>
   </div>

        <button type="submit" class="btn btn-primary">Signup</button>
        <button type="reset" class="btn btn-danger">Reset</button>
      </div>
    </form>
  </div>
</div>
<%= erb :footer %>
