<%= erb :header %>
<div class="row">
  <% if(!@order) %>
    <%= display_error($errors[:order_not_exist]) %>
  <% else %>
  <div class="mb-3 col-lg-5 col-md-12">
    <p>Tweet <small><a target="_blank" href="<%= @tweet.uri %>">View tweet</a></small></p>
    <ul class="list-group mb-3">      
        <li class='list-group-item'>
          <div class="d-flex w-100">
            <div class="profile-image mr-3">
              <img class="rounded-circle" src="<%= @tweet.user.profile_image_url %>" />
            </div>
            <div class="profile">
              <h5 class="mb-1"><%= @user.fullname %> <span><%= @tweet.created_at.asctime %></span></h5>
              <p class="mb-1"><%= @tweet_text %></p>
            </div>
          </div>
        </li>
      </ul>
      <p>User Details <small><a href="/user/<%= @user.id %>">View user</a></small></p>
      <ul class="list-group mb-3">      
          <li class='list-group-item'>
            <div class="d-flex w-100">
              <div class="profile-image mr-3">
                <img class="rounded-circle" src="<%= @tweet.user.profile_image_url %>" />
              </div>
              <div class="profile">
                <p class="mb-1">Name: <%= @user.fullname %></p>
                <p class="mb-1">Username: <%= @user.username %></p>
                <p class="mb-1">Twitter profile: <a target="_blank" href="<%= @tweet.user.uri %>"><%= @tweet.user.screen_name %></a></p>
                <p class="mb-1">
                  Dietary requirements: 
                  <% if(@user.user_special_conditions.empty?) %>
                  N/A
                  <% else %>
                    <ul>
                      <% @user.user_special_conditions.each do |user_special_condition| %>  
                        <li><%= user_special_condition.special_condition.name %></li>
                      <% end %>
                    </ul>
                  <% end %>
                </p>
                <p class="mb-1">Address: <%= @user.address %></p>
              </div>
            </div>
          </li>
        </ul>
    </div>
  <div class="col-lg-7 col-md-12">
    <p>Order Overview</p>
    <div class="card mb-3">
      <div class="card-header">
        <img width="30px" class="rounded-circle mr-2" src="<%= @tweet.user.profile_image_url %>" />
        #<%=@order_id%> 
        <%= @user.fullname %>
        <span class="badge badge-info"><%= @order.order_state.name %></span>
      </div>
      <form class="needs-validation" id="order" method="post" novalidate>
        <ul class="list-group list-group-flush">
          <div class="form-group mb-0" id="menu-items">
            <li class="list-group-item">Search for items to add to the order</li>
            <% @order.order_items.each_with_index do |order_item,i| %>
              <li class="list-group-item">
                <div class="form-row">
                  <div class="form-group mb-0 col-sm-2">
                    <input class="form-control disabled price" disabled type="texr" value="<%=display_currency(order_item.item.price*order_item.quantity)%>" placeholder="£0.00">
                  </div>
                  <div class="form-group mb-0 col-md-7">
                    <input name="item[]" class="form-control typeahead" type="text" value="<%= order_item.item.name %>" placeholder="Search for an item..." required>
                  </div>
                  <div class="form-group mb-0 col-md-2">
                    <input name="quantity[]" class="form-control" type="number" min="1" value="<%= order_item.quantity %>" required>
                  </div>
                  <div class="form-group mb-0 col-sm-1">
                    <button <%= "disabled" if(i==0)%> type="button" class="<%= "disabled" if(i==0)%> remove-item btn btn-danger btn-block">-</button>
                  </div>
                </div>
              </li>
            <% end %>
            <li id="add" class="list-group-item add"><button type="button" class="btn btn-success">+</button></li>
            <li class="list-group-item" id="total-order-price">Total order price: <%= display_currency(@order.total_price) %></li>
              <li class="list-group-item"><select name="order_state" class="change_order_state">
              <% OrderState.all.each do |type| %>
                <option value="<%=type.id%>"    <%= ("selected" if @order.order_state_id == type.id ) %> > <%=type.name%> </option>
              <% end %>
            </select></li>
          </div>
        </ul>
        <div class="card-footer border-top-0">
          <button type="submit" id="submit_order" class="btn btn-success">Update</button>
          <a class="btn btn-danger" href="/delete-order/<%=@order.id%>">Delete</a>
        </div>
      </form>
    </div>
</div>
<%end%>
</div>
<%= erb :footer %>
