<%= erb :header %>
<div class="row">
  <%
    tweet_id = params['tweet_id']
    if(!istweet(tweet_id))
  %>
    <%= display_error($errors[:tweet_not_exist]) %>
  <% elsif(Order.exists?(tweet_id: tweet_id)) %>
    <%= display_error($errors[:already_order]+' <a href="/edit-order/'+Order.where(tweet_id: tweet_id).pluck(:id).join.to_s+'">View it here</a>') %>
  <% else %>
  <%
    tweet = $client.status(tweet_id, tweet_mode: "extended")
    if tweet.truncated? && tweet.attrs[:extended_tweet]
      tweet_text = tweet.attrs[:extended_tweet][:full_text]
    else
      tweet_text = tweet.attrs[:text] || tweet.attrs[:full_text]
    end
    user = User.find_by(twitter_id: tweet.user.id) if(User.exists?(twitter_id: tweet.user.id))
    mentions_after_tweet = $client.search("from:@"+tweet.user.screen_name+" OR from:@piepiperchef to:@"+tweet.user.screen_name, options = {since_id:tweet.id})
    replies = mentions_after_tweet.reverse_each.select do |reply|
      !reply.in_reply_to_status_id.nil? && reply.in_reply_to_status_id === tweet.id
    end
    rejected = mentions_after_tweet.reverse_each.reject do |reply|
      reply.in_reply_to_status_id === tweet.id
    end
    rejected.each do |reply|
      reply_ids = replies.map{|reply| reply.id}
      replies_not_root = rejected.select do |reply|
        reply_ids.include?(reply.in_reply_to_status_id)
      end
      replies += replies_not_root
      rejected = rejected.reject do |reply|
        reply_ids.include?(reply.in_reply_to_status_id)
      end
    end
    replies = replies.sort_by { |reply| reply.created_at.strftime("%s") }
  %>
  <% if(!user) %>
    <%= display_error($errors[:user_not_registered]) %>
  <% else %>
  <% if(@error) %>
    <%= display_error(@error) %>
  <% end %>
  <%# this gives a list of all of the retweet datas%>
  <%# iterate through this and get the user, then the user's ID%>
  <%# then check if this is in the user's database%>
  <script>var json = <%= $client.retweets(tweet.id, options = {}).to_json %>;console.log(json)</script>

  <div class="mb-3 col-lg-5 col-md-12">
    <p>Tweet <small><a target="_blank" href="<%= tweet.uri %>">View tweet</a></small></p>
    <ul class="list-group mb-3" id="tweets">
        <li class='list-group-item'>
          <div class="d-flex w-100">
            <div class="profile-image mr-3">
              <img class="rounded-circle" src="<%= tweet.user.profile_image_url %>" />
            </div>
            <div class="profile">
              <h5 class="mb-1"><%= user.fullname %> <span><%= tweet.created_at.asctime %></span></h5>
              <p class="mb-1"><%= tweet_text %></p>
            </div>
          </div>
        </li>
        <% replies.each do |reply| %>
        <% 
          user = User.find_by(twitter_id: reply.user.id) if(User.exists?(twitter_id: reply.user.id))
          if reply.truncated? && reply.attrs[:extended_tweet]
            reply_text = reply.attrs[:extended_tweet][:full_text]
          else
            reply_text = reply.attrs[:text] || reply.attrs[:full_text]
          end
        %>
        <li class='list-group-item'>
          <div class="d-flex w-100">
            <div class="profile-image mr-3">
              <img class="rounded-circle" src="<%= reply.user.profile_image_url %>" />
            </div>
            <div class="profile">
              <h5 class="mb-1"><%= user.fullname %> <span><%= reply.created_at.asctime %></span></h5>
              <p class="mb-1"><%= reply_text %></p>
            </div>
          </div>
        </li>
        <% end %>
      </ul>
      <button type="button" class="btn btn-primary mb-3" data-toggle="modal" data-target="#reply">
        Reply for clarification
      </button>
      <div class="modal fade" id="reply" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="reply">New message to <%= tweet.user.screen_name %></h5>
              <button type="button" class="close" data-dismiss="modal">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form>
                <div class="form-group">
                  <textarea class="form-control" id="message-text"></textarea>
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary" id="reply-send" data-user="<%=tweet.user.screen_name%>" data-tweet="<%=tweet.id%>">Send</button>
            </div>
          </div>
        </div>
      </div>
      <p>User Details <small><a href="/user/<%= user.id %>">View user</a></small></p>
      <ul class="list-group mb-3">
          <li class='list-group-item'>
            <div class="d-flex w-100">
              <div class="profile-image mr-3">
                <img class="rounded-circle" src="<%= tweet.user.profile_image_url %>" />
              </div>
              <div class="profile">
                <p class="mb-1">Name: <%= user.fullname %></p>
                <p class="mb-1">Username: <%= user.username %></p>
                <p class="mb-1">Twitter profile: <a target="_blank" href="<%= tweet.user.uri %>"><%= tweet.user.screen_name %></a></p>
                <p class="mb-1">
                  Dietary requirements: 
                  <% if(user.user_special_conditions.empty?) %>
                  N/A
                  <% else %>
                    <ul>
                      <% user.user_special_conditions.each do |user_special_condition| %>  
                        <li><%= user_special_condition.special_condition.name %></li>
                      <% end %>
                    </ul>
                  <% end %>
                </p>
                <p class="mb-1">Address: <%= user.address %></p>
                </div>
              </div>
            </li>
          </ul>
      </div>
    <div class="col-lg-7 col-md-12">
      <p>Order Overview</p>
      <div class="card mb-3">
        <div class="card-header">
          <img width="30px" class="rounded-circle mr-2" src="<%= tweet.user.profile_image_url %>" />
          <%= user.fullname %>
          <span class="badge badge-danger">Not yet created</span>
        </div>
        <form class="needs-validation" id="order" method="post" novalidate>
          <ul class="list-group list-group-flush">
            <div class="form-group mb-0" id="menu-items">
              <li class="list-group-item">Search for items to add to the order</li>
              <li class="list-group-item">
                <div class="form-row">
                  <div class="form-group mb-0 col-sm-2">
                    <input class="form-control disabled price" disabled type="texr" value="£0.00" placeholder="£0.00">
                  </div>
                  <div class="form-group mb-0 col-sm-7">
                    <input name="item[]" class="form-control typeahead" type="text" placeholder="Search for an item..." required>
                  </div>
                  <div class="form-group mb-0 col-sm-2">
                    <input name="quantity[]" class="form-control" type="number" min="1" value="1" required>
                  </div>
                  <div class="form-group mb-0 col-sm-1">
                    <button disabled type="button" class="disabled btn btn-danger btn-block">-</button>
                  </div>
                </div>
              </li>
              <li id="add" class="list-group-item add"><button type="button" class="btn btn-success">+</button></li>
              <li class="list-group-item" id="total-order-price">Total order price: £0.00</li>
            </div>
          </ul>
          <div class="card-footer border-top-0">
            <button type="submit" id="submit_order" class="btn btn-primary">Create</button>
          </div>
        </form>
      </div>
  </div>
  <% end end %>
  </div>
  <%= erb :footer %>
