<%= erb :header %>
<% 
  mentions = $client.mentions_timeline(tweet_mode: "extended")
  tweets = mentions.select do |tweet|
    tweet.in_reply_to_status_id.nil?
  end
%>
<div class="row">
  <%= display_success("New order \##{flash[:new_order]} added successfully") if(flash[:new_order]) %>
  <%= display_success("Order \##{flash[:delete_order]} deleted successfully") if(flash[:delete_order]) %>
  <div class="mb-3 col-lg-6 col-md-12">
    <p>Incoming tweets</p>
    <ul class="list-group">
      <%  
        tweets.each do |tweet|
        if(!Order.exists?(tweet_id: tweet.id))
          if tweet.truncated? && tweet.attrs[:extended_tweet]
            tweet_text = tweet.attrs[:extended_tweet][:full_text]
          else
            tweet_text = tweet.attrs[:text] || tweet.attrs[:full_text]
          end
        user = User.find_by(twitter_id: tweet.user.id) if(User.exists?(twitter_id: tweet.user.id))
      %>
        <li class='list-group-item'>
          <div class="d-flex w-100">
            <div class="profile-image mr-3">
              <img class="rounded-circle" src="<%= tweet.user.profile_image_url %>" />
            </div>
            <div class="profile">
              <h5 class="mb-1">
                <a href="/user/<%= user.id if(user) %>"><%= user.fullname if(user) %></a>
                <%= tweet.user.screen_name if(!user )%>
                <span><%= tweet.created_at.asctime %></span>
              </h5>
              <p class="mb-1"><%= tweet_text %></p>
              <% if(User.exists?(twitter_id: tweet.user.id)) %>
                <p class="mb-1"><a class="text-secondary" href="/new-order/<%=tweet.id%>">Create order from tweet</a></p>
              <% else %>
                <!-- For now to check isuser function. Could hide tweets not from users or have them in another tab etc. -->
                <p class="mb-1"><a class="text-secondary tell-user-signup" href="/orders" data-user="<%=tweet.user.screen_name%>" data-tweet="<%=tweet.id%>">Tell user they need to sign up before tweeting</a></p>
              <% end %>
            </div>
          </div>
        </li>
      
      <% 
        end
      end
      %>
      </ul>
    </div>
    <div class="col-lg-6 col-md-12">
      <p>Orders</p>
      <div id="accordion">
      <% 
        if(Order.exists?)
        Order.all.each do |order|
        tweet = order.get_tweet
      %>
      <div class="card mb-3">
        <div class="card-header">
          <img width="30px" class="rounded-circle mr-2" src="<%= tweet.user.profile_image_url %>" />
          #<%=order.id%> 
          <%= order.user.fullname %>
          <span class="badge badge-info"><%= order.order_state.name %></span>
          <button class="btn btn-link text-secondary" data-toggle="collapse" data-target="#order-details-<%= order.id %>">
            View order details
          </button>
        </div>
        <div id="order-details-<%=order.id%>" class="collapse" data-parent="#accordion">
          <ul class="list-group list-group-flush">
            <% order.order_items.each do |order_item| %>
              <% item = order_item.item %>
              <li class="list-group-item"><%=display_currency(item.price*order_item.quantity)%> <%= order_item.quantity %>x <%= item.name %></li>
            <% end %>
            <li class="list-group-item">Total order price: <%= display_currency(order.total_price) %></li>
          </ul>
          <div class="card-footer border-top-0">
            <a class="btn btn-primary" href="/edit-order/<%=order.id%>">Edit</a>
            <a class="btn btn-danger" href="/delete-order/<%=order.id%>">Delete</a>
          </div>
      </div>
      </div>
      <% 
        end
        end
      %>
    </div>
    </div>
</div>
<%= erb :footer %>
<% if(flash[:new_order]) %>
  <script>
    $('#order-details-<%=flash[:new_order]%>').collapse('show')
  </script>
<% end %>