<%= erb :header %>
<p>New Item</p>
<hr>
<div class="row">
    <div class="mb-3 col-lg-6 col-md-12">
    <form method="post">
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="itemname">Name</label>
          <input required type="name" name="name" class="form-control" id="itemname" placeholder="Name">
        </div>
        <div class="form-group col-md-6">
          <label for="Price">Price</label>
          <div class="input-group">
            <div class="input-group-prepend">
              <div class="input-group-text">£</div>
            </div>
            <input required type="number" step="0.01" name="Price" class="form-control" id="Price" placeholder="Price">
          </div>
        </div>
      </div>

      <div id="special_cond_form" class="form-group">
        <label>Special Conditions</label>
        <% @special_conditions.each do |special_condition| %>
          <div class="form-check">
            <input required name="speccond" class="form-check-input" required type="radio" value="<%=special_condition.id%>" id="speccond-<%=special_condition.id%>">
            <label class="form-check-label" for="speccond-<%=special_condition.id%>">
              <%=special_condition.name%>
            </label>
          </div>
        <% end %>
      </div>

      <div class="form-group">
        <label>Item Type</label>
        <% @item_types.each do |type| %>
          <div class="form-check">
            <input required name="type" class="form-check-input" required type="radio" value="<%=type.id%>" id="type-<%=type.id%>">
            <label class="form-check-label" for="type-<%=type.id%>">
              <%=type.name%>
            </label>
          </div>
        <% end %>
      </div>

      <div class="form-group">
        <label>Location</label>
        <% Location.all.each do |location| %>
          <div class="form-check">
            <input name="locations[]" class="form-check-input" type="checkbox" value="<%=location.id%>" id="location-<%=location.id%>">
            <label class="form-check-label" for="location-<%=location.id%>">
              <%=location.name%>
            </label>
          </div>
        <% end %>
      </div>
      <button type="submit" class="btn btn-primary">Create</button>
      </form>
    </div>
  </div>



<%= erb :footer %>
