<%= erb :header %>
<% users = User.all %>
<p>Users</p>
<% # show error if there are no users in the database %>
<% if(!User.exists?) %>
<p>Sorry, no users exist</p>
<% else %>
    <div class="table-responsive mb-3">
      <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Campaign Type</th>
          <th scope="col">Tweet</th>
          <th scope="col">Winner</th>
        </tr>
      </thead>
      <tbody>
        <% # iterate through all the users and display their details %>
        <% users.each do |user| %>
        <tr>
          <th scope="row"><a href="/user/<%= user.id %>"><%= user.id %></a></th>
          <td><%= user.fullname %></td>
          <td><%= user.username %></td>
          <% twitter_user = user.get_twitter_user %>
          <% # display their twitter screen name if the user has a twitter id associated with them %>
          <td><a target="_blank" href="<%= twitter_user.uri if twitter_user%>"><%= twitter_user.screen_name if twitter_user %></a></td>
        </tr>
        <% end %>
      </tbody>
      </table>
    </div>
<% end %>
<%= erb :footer %>
