<%= erb :header %>
<% campaigns = Campaign.all %>
<p>Campaigns</p>
<% # show error if there are no campaign in the database %>
<% if(!Campaign.exists?) %>
<p>Sorry, no campaigns exist</p>
<% else %>
    <div class="table-responsive mb-3">
      <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Campaign Type</th>
          <th scope="col">Tweet</th>
          <th scope="col">Retweet Number</th>
          <th scope="col">Win Number</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        <% # iterate through all the users and display their details %>
        <% campaigns.each do |campaign| %>
        <tr>
          <th scope="row"><%= campaign.id %></th>
          <td><%= campaign.campaign_type.type_name %></td>
          <% tweet = campaign.get_tweet %>
          <td><a target="_blank" href="<%= tweet.uri %>"><%= tweet.attrs[:full_text][0...40] %><%= "..." if(tweet.attrs[:full_text].length > 40) %></a></td>
          <td><%= campaign.get_retweet_ids.length %></td>
          <td><%= campaign.winner_number %></td>
          <td>
            <form method="POST">
              <input type="hidden" name="campaign_id" value="<%=campaign.id%>">
              <button class="btn btn-primary" type="submit">Close Campaign</button>
            </form>
            </td>
        </tr>
        <% end %>
      </tbody>
      </table>
    </div>
<% end %>
<%= erb :footer %>
