<%= erb :header %>
<h3 class="mb-3">Food menu</h3>
<nav>
  <div class="nav nav-tabs" id="nav-tab" role="tablist">
    <% @item_types.each_with_index do |item_type,i| %>
      <a class="nav-item nav-link <%if(i==0)%>active<%end%>" id="menu-<%=item_type.id%>-tab" data-toggle="tab" href="#menu-<%=item_type.id%>" role="tab"><%= item_type.name %></a>
    <% end %>
    <a class="nav-item nav-link" data-toggle="tab" href="#special_conditions" role="tab">Special Conditions</a>
    </div>
  </div>
</nav>
<div class="tab-content mt-3" id="nav-tabContent">
  <% @item_types.each_with_index do |item_type,i| %>
  <div class="tab-pane show <%if(i==0)%>active<%end%>" id="menu-<%=item_type.id%>" role="tabpanel">
    <ul class="list-group list-group-flush">
      <% @items.select{|item| item.item_type_id == item_type.id}.each do |item| %>
        <li class="list-group-item">
          <div class="d-flex align-items-center">
            <div class="mr-3">
              <img class="rounded-circle mr-3" src="/img/Menu/<%= item.path %>" width="100px">
            </div>
            <div>
              <h5 class="card-title mb-0"><%= display_currency(item.price) %> <%=item.name%> <%= '<span class="badge badge-success">'+@special_conditions.select{|special_condition| special_condition.id == item.special_condition_id}[0].name+'</span>' if item.special_condition_id %></h5>
            </div>
          </div>
        </li>
      <% end %>
  </div>
  <% end %>
  <div class="tab-pane show" id="special_conditions" role="tabpanel">
    <% @special_conditions.each do |special_condition| %>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <img class="rounded-circle mr-3 d-inline" src="/img/food-collection-8-006.jpg" width="50px">
          <h4 class="card-title mb-0 d-inline"><%=special_condition.name%></h4>
        </li>
        <% @items.select{|item| item.special_condition_id == special_condition.id}.each do |item| %>
        <li class="list-group-item">
          <h5 class="card-title mb-0 d-inline"><%= display_currency(item.price) %> <%=item.name%></h5>
        </li>
        <% end %>
        <%= '<li class="list-group-item">No items in this category, sorry</li>' if(@items.select{|item| item.special_condition_id == special_condition.id}.empty?) %>
      </ul>
    <% end %>
  </div>
</div>
<%= erb :footer %>