<%= erb :header %>
<h3 class="mb-3">Food menu <button type="button" class="btn btn-outline-primary">Download PDF</button> <button type="button" class="btn btn-outline-primary"><img scr="img/british-pound.svg" />Cash Only</button></h3>
<nav>
  <div class="nav nav-tabs" id="nav-tab" role="tablist">
    <% @item_types.each_with_index do |item_type,i| %>
      <a class="nav-item nav-link <%if(i==0)%>active<%end%>" id="menu-<%=item_type.name%>-tab" data-toggle="tab" href="#menu-<%=item_type.name%>" role="tab"><%= item_type.name %></a>
    <% end %>
    <% @special_conditions.each do |special_condition| %>
      <a class="nav-item nav-link" id="menu-<%=special_condition.name%>-tab" data-toggle="tab" href="#menu-<%=special_condition.name%>" role="tab"><%= special_condition.name %></a>
    <% end %>
  </div>
</nav>
<div class="tab-content mt-3" id="nav-tabContent">
  <% @item_types.each_with_index do |item_type,i| %>
  <div class="tab-pane show <%if(i==0)%>active<%end%>" id="menu-<%=item_type.name%>" role="tabpanel">
    <div class="row menu">
      <% @items.select{|item| item.item_type_id == item_type.id}.each do |item| %>
      <div class="frame"  class="col-lg-4 col-md-6">
        <div  class="card mb-3">
          <img src="/img/food-collection-8-006.jpg">
          <div class="text" class="card-body">
            <h5 class="card-title mb-0"><%= display_currency(item.price) %> <%=item.name%></h5>
              <% extraclass = '' %>
              <% extraclass = 'non-veg' if(item.special_condition_id == 1) %>
            <%= '<span class="badge badge-success '+extraclass+'">'+@special_conditions.select{|special_condition| special_condition.id == item.special_condition_id}[0].name+'</span>' if item.special_condition_id %>
            <p class="card-text"></p>
            <p class="card-text"><small class="text-muted"></small></p>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>
  <% end %>
  <% @special_conditions.each do |special_condition| %>
  <div class="tab-pane show" id="menu-<%=special_condition.name%>" role="tabpanel">
    <div class="row menu">
      <% @items.select{|item| item.special_condition_id == special_condition.id}.each do |item| %>
      <div class="frame" class="col-lg-4 col-md-6">
        <div class="card mb-3">
          <img src="/img/food-collection-8-006.jpg">
          <div class="text" class="card-body">
            <h5 class="card-title mb-0"><%=display_currency(item.price)%> <%=item.name%></h5>
            <span class="badge badge-success"><%=special_condition.name%></span>
            <p class="card-text"></p>
            <p class="card-text"><small class="text-muted"></small></p>
          </div>
        </div>
      </div>
      <% end %>
      <%= '<div height="200" width="200" class="col-lg-4 col-md-6"><p>No items in this category, sorry</p></div>' if(@items.select{|item| item.special_condition_id == special_condition.id}.empty?) %>
    </div>
  </div>
  <% end %>
</div>
<%= erb :footer %>
