<%= erb :header %>
<h1>Items</h1>
<div class="row">
    <div class="mb-3 col-lg-6 col-md-12">
    <form method="post">
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="itemname">Name</label>
          <input type="name" name="name" class="form-control" id="itemname" placeholder="Enter name">
        </div>
        <div class="form-group col-md-6">
          <label for="Price">Price</label>
          <input type="price" name="price" class="form-control" id="price" placeholder="Price">
        </div>
      </div>

      <div class="form-group mb-3">
      <label for="Type">Type</label>
        <div class="form-row">
          <% @item_types.each do |item_types| %>
            <div class="form-check form-check-inline">
              <input class="form-check-input" name="type" type="radio" value="<%=item_types.id%>" id="<%=item_types.id%>" >
              <label class="form-check-label" for="types">
                <%=item_types.name%>
              </label>
            </div>
          <% end %>
        </div>
      </div>

      <div class="form-group mb-3">
      <label for="Type">Special Conditions</label>
        <div class="form-row">
          <% @special_conditions.each do |special_condition| %>
            <div class="form-check form-check-inline">
              <input class="form-check-input" name="speccond" type="radio" value="<%=special_condition.id%>" id="<%=special_condition.id%>" >
              <label class="form-check-label" for="speccond">
                <%=special_condition.name%>
              </label>
            </div>
          <% end %>
        </div>
      </div>

      <div class="form-group mb-3">
        <label  for="Type">Location</label>
        <div div class="form-row">
          <% Location.all.each do |local| %>
            <div class="form-check form-check-inline">
              <input class="form-check-input" name="locals[]" type="checkbox" value="<%=local.id%>" id="<%=local.id%>" >
              <label class="form-check-label" for="<%=local.name%>"><%=local.name%></label>
            </div>
          <% end %>
        </div>
      </div>

      <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>



<%= erb :footer %>
